<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ExecutableRelativePath" value="ConceptDemo.exe"/>
		<add key="SettingsLocalAppDataPath" value="ConceptDemo\Saved\Config\WindowsNoEditor"/>
		<add key="SettingsFileName" value="Settings.ini"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>